:root {
    --navbar_height: 50px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--navbar_height);
    position: fixed;
    top: 0;
    justify-content: space-between;
    background-color: #355E3b;
    z-index: 999;
    border: 4px solid #C4A000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: Cinzel, serif;
    align-items: center;
    font-weight: 600;
    font-size: 1.5em;
}

#navbar div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 100%;
    margin: 10px;
}

#navbar #menu * {
    margin-right: 10px;
}

.logo img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav_margin {
    margin-bottom: var(--navbar_height);
    display: flex;
    border: 4px solid #fff0;
}

#download {
    margin-right: 50px;
}
/* Dropdown menu */
#accountdropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: var(--navbar_height);
    margin: 0;
    color: white;
    background-color: grey;
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;
    list-style: none;
}

/* Hover uniquement sur les items du dropdown */
#accountdropdown li:hover {
    background-color: lightgray;
}

/* Espacement des éléments */
#accountdropdown li {
    border-radius: 10px;
    padding: 5px;
    font-size: 1.25rem;
}

/* Menu principal */
#menu a, #download, #account {
    color: #EAD8A6;
    font-size: 24px;
    text-decoration: none;
}

#menu a:hover {
    color: #C4A000;
}

/* Boutons */
.button, #logout_button {
    background-color: #C4A000;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,
                rgba(44, 187, 99, .15) 0 1px 2px,
                rgba(44, 187, 99, .15) 0 2px 4px,
                rgba(44, 187, 99, .15) 0 4px 8px,
                rgba(44, 187, 99, .15) 0 8px 16px,
                rgba(44, 187, 99, .15) 0 16px 32px;
    color: black;
    cursor: pointer;
    display: block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms ease-in-out;
    border: none;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* Effet hover */
.button:hover, #logout_button:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset,
                rgba(44, 187, 99, .25) 0 1px 2px,
                rgba(44, 187, 99, .25) 0 2px 4px,
                rgba(44, 187, 99, .25) 0 4px 8px,
                rgba(44, 187, 99, .25) 0 8px 16px,
                rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

/* Centrage des boutons */
.button_container {
    text-align: center;
}
