<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
        content="203654317993-ultcan7rulqq8893hpf5m263fn8lq37v.apps.googleusercontent.com">
    <title>GKE Card Game</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #4E3B31;
        }

        .fake {
            height: 90vh
        }
    </style>
</head>

<body>
    {% include 'navbar.html' %}
    <h1>title exemple</h1>
    <div class="fake">defqsdf</div>
    <div class="fake">qsdfdsf</div>
    <div class="fake">qfdsfqd</div>

</body>

</html>
