<style>
	.overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(255, 255, 255, 0.8);
		z-index: 1000;         /* Ensure it's on top of other content */
		color: black;
	}
	.overlay form {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); /*less computation than display flex on parent*/
		display: flex;
		flex-direction: column;
		background-color: white;
		padding: 40px;
		border-radius: 10px;
		border: 2px solid black;
		width: 90vw;
		max-width: 400px;
		height: 60vh;
		max-height: 600px;
		align-self: center;
	}
</style>
<div class="overlay" id="login">
	<form method="POST" action="/login" id="loginForm">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<button type="button" id="closeLogin">✖</button>

		{% if login_error %}
			<div id="error-message" style="color: red;">{{ login_error }}</div>
		{% endif %}

		<label for="username">Username:</label>
		<input type="text" name="username" pattern="[a-zA-Z0-9]+" required title="Only alphanumeric characters are allowed.">

		<label for="password">Password:</label>
		<input type="password" name="password" required>

		<input type="submit" value="Log In">
	</form>

</div>

<div class="overlay" id="signup">
	<form method="POST" action="/signup">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<button type="button" id="closeSignup">✖</button>

		<label for="username">Username:</label>
		<input type="text" name="username" pattern="[a-zA-Z0-9]+" required title="Only alphanumeric characters are allowed.">

		<label for="email">Email:</label>
		<input type="email" name="email" required title="Please enter a valid email address.">

		<label for="password">Password:</label>
		<input type="password" id="signpass" name="password" required title="Only alphanumeric characters are allowed.">

		<label for="confirm_password">Confirm Password:</label>
		<input type="password" id="signpasscheck" name="confirm_password" required title="Only alphanumeric characters are allowed.">

		<div id="signup_error_message" style="color: red; display: none;">{{ signup_error }}</div>

		<input type="submit" value="Sign Up">
	</form>
</div>
<script nonce="{{ nonce }}" src="/static/scripts/Login.js"></script>

