<div id="nav_margin"></div>
<header id="navbar">
    <div id="menu">
        <a href="/">Home</a>
        <a href="/rules">Rules</a>
        <a href="/news">News</a>
        <a href="/forum">Forum</a>
        <a href="/deck_builder">Deck Builder</a>
    </div>
    <div class="logo">
        <a href="/"><img src="../static/images/GKE_logo-removebg.png" width="50px" height="50px" alt="GKE-logo"></a>
    </div>
    <div>
        <div id="download">Download</div>
        <div>
            <div id="account">
                {{ user if user else "Account" }}
                <img src="{{ url_for('static', filename='images/user.svg') }}">
            </div>
            <ul id="accountdropdown">
                {% if not user %}
                <li class="button_container" >
                    <a id="login_button" class="button">Log in</a>
                </li>
                <li class="button_container">
                    <a id="signup_button" class="button" >Sign up</a>
                </li>

                {% endif %}
                {% if user %}
                <li class="button_container">
                    <a id="profil_button" class="button" href="/profil/{{ user_id }}">Profil</a>
                </li>
                {% endif %}
                <li>
                    <form action="/logout" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button id="logout_button" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</header>
{% include 'login.html' %}
<link rel="stylesheet" href="/static/css/Navbar.css">

<script nonce="{{ nonce }}" src="https://accounts.google.com/gsi/client" async defer>//google</script>
<script nonce="{{ nonce }}" src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js">//jwt decode</script>
<script nonce="{{ nonce }}" src="../static/scripts/Navbar_scripts.js"></script>

<!--
            <div id="g_id_onload"
                data-client_id="203654317993-ultcan7rulqq8893hpf5m263fn8lq37v.apps.googleusercontent.com"
                data-context="signin"
                data-callback="handleCredentialResponse"
                data-itp_support="true">
            </div>
-->
