<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-signin-client_id"
		content="203654317993-ultcan7rulqq8893hpf5m263fn8lq37v.apps.googleusercontent.com">
	<title>Profil</title>
	<link rel="stylesheet" href="/static/css/Profil_style.css">

</head>

<body>
	{% include 'navbar.html' %}
	<div class="main-container">
		<div class="profil-container">
			<h2>Profil</h2>
			<hr class="separator">
			<form action="/update_user" method="POST">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				<div class="user-field">
					<div class="field-row" id="username">
						<div class="field-name">Username :</div>
						<input type="text" class="inputfield" name="username" id="usernameinput" value="{{ user }}" pattern="[a-zA-Z0-9]+">
					</div>
					<div class="field-row" id="email">
						<div class="field-name">Email :</div>
						<input type="email" class="inputfield" name="email" id="email" value="{{ usermail }}">
					</div>
					<div class="field-row" id="oldpassword">
						<div class="field-name">Old Password :</div>
						<input type="password" class="inputfield" name="oldpassword" id="oldpassword" pattern="[a-zA-Z0-9!@#$%^&*()_+=-]+">
					</div>
					<div class="field-row" id="newpassword">
						<div class="field-name">New Password :</div>
						<input type="password" class="inputfield" name="newpassword" id="newpassword" pattern="[a-zA-Z0-9!@#$%^&*()_+=-]+">
					</div>
					<div class="field-row" id="confirmpassword">
						<div class="field-name">Confirm Password :</div>
						<input type="password" class="inputfield" name="confirmpassword" id="confirmpassword" pattern="[a-zA-Z0-9!@#$%^&*()_+=-]+">
					</div>
					<div class="field-row" id="favoritedeck">
						<div class="field-name">Favorite Deck :</div>
						<select name="selected_deck" id="favoritedeckselect">
							<option value="">Select your deck</option>
							{% for deck in all_decks %}
							<option value="{{ deck }}" {% if selected_deck==deck|int %} selected {% endif %}>{{ deck }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="submit_button">
						<button type="submit" class="update_button">Update</button>
						<button type="submit" class="delete_button" formaction="/delete_user">Delete</button>
					</div>
				</div>
			</form>
		</div>
		<div class="side-container">
			<div class="blason">
				<img class="user-blason" src="/static/images/blason.png" alt="user_blason">
				<div class="submit_button">
					<button type="submit">Update</button>
				</div>
			</div>
			<div class="leaderboard">
				<p class="field-name">Statistiques</p>
				<hr class="separator">
				<p class="field-name">Win :</p>
				<p class="field-name">Lose :</p>
			</div>
		</div>
	</div>
</body>

</html>
