<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Règles du Jeu</title>
	<link rel="stylesheet" href="static/css/rules.css">
</head>

<body>
	{% include 'navbar.html' %}
	<div class="game-board">
		<img src="static/images/plateau.png" alt="Plateau de jeu" class="board-image">

		<!-- Zones interactives -->
		<div class="zone" id="zone-deck" style="top: 50%; right: 22.5%;"></div>
		<div class="zone" id="zone-cimetiere" style="top: 67%; right: 22.5%;"></div>
		<div class="zone" id="zone-main" style="top: 22%; left: 18%;"></div>
		<div class="zone" id="zone-equipement" style="top: 47%; left: 33%;"></div>
		<div class="zone" id="zone-piege" style="top: 70%; left: 33%;"></div>
		<div class="zone" id="zone-action" style="top: 59%; left: 21%;"></div>

		<!-- Fenêtre d'information -->
		<div id="info-box">
			<p id="info-text"></p>
			<button id="close-info">Fermer</button>
		</div>
	</div>
	
    {% include 'footer.html' %}
	<script src="/static/scripts/Rules.js" nonce="{{ nonce }}"></script>

</body>

</html>
